<div class="row vertical-center">
    <div class="col-10">
        <div class="row vertical-center ms-5">
            <h3 class="col-2 ms-5 section-title">
                Clients
            </h3>
            <img
                src="/icons/reload.png"
                alt=""
                class="icon-reload">
        </div>
        <div
            class="col-12 mt-4 scroll ps-4"
            style="transform: translateX(21%)">
            <div
                *ngFor="let row of clients"
                class="row col-7 cell-client">
                <div class="row">
                    <h5 class="col mb-0">{{row.name}}</h5>
                    <p class="col mb-0 text-end text-gray">{{ row.phone }}</p>
                </div>
                <div class="row mt-1">
                    <h6 class="col m-0 text-gray">
                        {{row.email}}
                    </h6>
                    <div
                        class="row col align-end actions-box">
                        <button
                            class="btn-action me-2 edit">
                            <img
                                src="/icons/edit.png"
                                alt="">
                        </button>
                        <button
                            class="btn-action delete">
                            <img
                                src="/icons/delete.png"
                                alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
