<div class="col-12 container-side-bar ps-4">
    <div class="row vertical-center text-center sidebar p-2">
        <h2 class="mb-4">WebSocket Client</h2>
        <button
            class="btn mb-2 btn-client-event"
            routerLink="/Clients"
            routerLinkActive="btn-client">
            Clients
        </button>
        <button
            class="btn mb-2 btn-address-event"
            routerLink="/Address"
            routerLinkActive="btn-address">
            Addresses
        </button>
        <button
            class="btn mb-2 btn-order-event"
            routerLink="/Orders"
            routerLinkActive="btn-order">
            Orders
        </button>
    </div>
</div>
