<div class="row vertical-center">
    <div class="col-10">
        <div class="row vertical-center ms-5">
            <h3 class="col-2 ms-5 section-title">
                Addresses
            </h3>
            <img
                src="/icons/reload.png"
                alt=""
                class="icon-reload">
        </div>
        <div
            class="col-12 mt-4 scroll ps-4"
            style="transform: translateX(21%)">
            <div
                *ngFor="let row of addresses"
                class="row col-7 cell-row">
                <div class="row">
                    <h5 class="col mb-0">{{row.client.name}}</h5>
                    <p class="text-gray mb-2">{{row.street}}</p>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="col text-gray mb-0">{{row.city}}</p>
                        <p class="col text-gray mb-0">{{row.country}}</p>
                    </div>
                    <div class="col text-center">
                        <p class="col text-gray mb-0">{{row.state}}</p>
                        <p class="col text-gray mb-0">{{row.zip_code}}</p>
                    </div>
                    <div class="row col align-end actions-box">
                        <button
                            class="btn-action edit"
                            [class.confirm]="row.deleting"
                            (click)="row.deleting ? deleteAddress(row) : setEditAddress(row)">
                            <img
                                src="/icons/{{row.deleting ? 'done.png' : 'edit.png'}}"
                                alt="">
                        </button>
                        <button
                            class="btn-action delete ms-2"
                            (click)="row.deleting = !row.deleting">
                            <img
                                src="/icons/{{row.deleting ? 'cancel.png' : 'delete.png'}}"
                                alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div
                #cellAdd
                class="row col-7 cell-row mb-2">
                <select
                    class="form-select"
                    [(ngModel)]="currentAddress.id_client">
                    <option
                        *ngFor="let client of clients"
                        [disabled]="currentAddress.id_client !== 0"
                        [selected]="currentAddress.id_client === client.id_client"
                        [value]="client.id_client">
                        {{client.name}}
                    </option>
                </select>
                <input
                    class="form-control mt-2"
                    type="text"
                    placeholder="Dirección"
                    [(ngModel)]="currentAddress.street">
                <div class="row col-12 p-0 mt-2">
                    <div class="col">
                        <input
                            class="form-control w-100"
                            type="text"
                            placeholder="Ciudad"
                            [(ngModel)]="currentAddress.city">
                    </div>
                    <div class="col pe-0">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="País"
                            [(ngModel)]="currentAddress.country">
                    </div>
                </div>
                <div class="row p-0 mt-2">
                    <div class="col">
                        <input
                            class="form-control w-100"
                            type="text"
                            placeholder="Estado"
                            [(ngModel)]="currentAddress.state">
                    </div>
                    <div class="col pe-0">
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Código Postal"
                            [(ngModel)]="currentAddress.zip_code">
                    </div>
                </div>
                <div class="col-12 vertical-center mt-2">
                    <button
                        class="btn-save"
                        (click)="sendRequest()">
                        <img
                            src="/icons/done.png"
                            alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button
                class="btn btn-add add-address"
                [class.btn-cancel]="showCellAdd"
                (click)="addAddress()">
                <img
                    src="/icons/add.png"
                    alt="">
            </button>
        </div>
    </div>
</div>
