/* You can add global styles to this file, and also import other style files */
:root {
    --SideBarColor: #E4E0E1;
    --SideBarBorder: #3C3D37;
    --Green: #0CB495;
    --Blue: #019CDD;
    --Red: #D03593;
    --Gray: #686D76;
    --Edit: #3674B5;
    --Delete: #F34545;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

html, body, button {
    color: #181C14 !important;
    overflow-y: hidden;
}

button {
    border: none;
    height: 4.5vh !important;
    width: 65% !important;
    border-radius: 10px !important;
    font-weight: bold !important;
}

.section-title {
    font-weight: bold;
    font-size: 2em;
}

.icon-reload {
    width: auto;
    height: 4vh;
}

.scroll {
    overflow-y: scroll;
    min-height: 50vh;
    max-height: 70vh;
}

.text-gray {
    color: var(--Gray) !important;
}

.align-end {
    display: flex;
    justify-content: end;
}

.btn-add {
    height: 3vw !important;
    width: 3vw !important;
    border-radius: 50% !important;
    transition: all 0.3s ease;
}

.btn-cancel {
    transform: rotate(45deg);
    transition: all 0.3s ease;
    background-color: var(--Red) !important;
}

.btn-add img {
    width: 100%;
    height: auto;
    padding: 1%;
}

.btn-action {
    text-align: center;
    border-radius: 50% !important;
    width: 2vw !important;
    height: 2vw !important;
    padding: 5px;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.1s ease;
}

.btn-action img {
    width: 100%;
    height: 100%;
}

.btn-action:hover {
    opacity: 0.7;
}

.confirm {
    background-color: var(--Green) !important;
}

.edit {
    background-color: var(--Edit);
}


.delete {
    background-color: var(--Delete);
}

.cell-row {
    border-radius: 10px;
    border: 1px solid var(--SideBarBorder);
    margin-bottom: 5px;
    padding: 10px;
}

.cell-row:hover .btn-action:nth-child(1) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}

.cell-row:hover .btn-action:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

.btn-save {
    width: 4vw !important;
    height: 2vw !important;
    border-radius: 8px !important;
    background-color: var(--Green) !important;
}

.btn-save img {
    width: 60% !important;
    height: auto !important;
    padding: 1% !important;
}
